/*  iphone6 设计稿750px 1rem=100px; 7.5rem = 100%
最大宽度 元素 宽/高 只能用100%；
100vh会有工具栏遮盖的问题 存在底部导航栏时，页面底部需要再加1.4rem
*/
:root {
    --theme-min-width: 547.59px;
    /*最大屏幕宽度*/
    --theme-bottom-height: 1.24rem;
    /*底部导航栏高度*/
}

html {
    margin: 0 auto;
    max-width: var(--theme-max-width);
}


/*
写死精度为1的情况下
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
*/
/*
最低1000px，小于1000则缩放
*/
/* 大屏幕固定 控制*/
@media screen and (min-width: 547.59px) {
    html {
        font-size: calc(var(--theme-max-width)/(750/100)) !important;
    }
}

/* 小屏幕动态 控制*/
@media only screen and (min-width: 150px) and (max-width: 547.59px) {
    html {
        font-size: calc(100vw/(750/100)) !important;
    }
}

/* .24rem */
body {
    font-size: .22rem !important;
    line-height: 1.43 !important;
}
